{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/index.css'%}">


{% block content %}
{% include 'navbar.html'%}
{% endblock %}

<body>
  <br><br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" style=" margin: 0 auto; margin-right: 30px; ">
        <div class="card" style="border-radius: 20px;">
          <img class="card-img-top" src="{%static 'core/img/estacionamiento.jpg'%}" alt="Card image cap"
            style="border-top-left-radius: 20px;border-top-right-radius: 20px">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Crear cuenta dueño estacionamiento</h5>
            <p class="card-text">Ten la posibilidad de generar ingresos con tu estacionamiento arrendandolo mientras no
              lo ocupas.</p>
            <a href="{% url 'formularioDueñoEst' %}" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4" style="  margin: 0 auto;  ">
        <div class="card" style="border-radius: 20px;">
          <img class="card-img-top" src="{%static 'core/img/cliente.jpg'%}" alt="Card image cap"
            style="border-top-left-radius: 20px;border-top-right-radius: 20px">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Crear cuenta cliente</h5>
            <p class="card-text">Hazte socio y encuentra los estacionamientos mas cercanos y protegidos cerca de tu
              ubicacion</p>
            <a href="{% url 'formularioCliente' %}" class="btn btn-primary">Ingresar</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
  Swal.fire({
    "title": "Felicitaciones",
    "text": "{{m}}",
    "icon": "success"
  })
</script>
{% endfor %}
{% endif %}